* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: black;
  color: white;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/header-image.png);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.nav-btn {
  border: 0;
  outline: 0;
  background: #db0001;
  color: white;
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.lang-btn {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid rgba(255, 244, 244, 0.676);
  padding: 7px 10px;
}

.lang-btn img {
  width: 10px;
  margin-left: 10px;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}

.header-content h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  max-width: 60vw;
}

.header-content h3 {
  font-weight: 400;
  margin-bottom: 20px;
}

.email-signup {
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.454);
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-right: 10px;
  overflow: hidden;
  padding: 15px 30px;
}

.email-signup input {
  color: white;
  background: transparent;
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
  width: 30vw;
}

.signup-btn {
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;

  background: #db0001;
  border: 0;
  outline: 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}

.features {
  font-size: 22px;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.top-border {
  border-top: 6px solid #333;
}
.text-col {
  padding: 50px 12%;
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-col img {
  display: block;
  width: 90%;
  margin: auto;
}

.features h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

.faq-container {
  min-width: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20%;
  overflow-x: hidden;
}

.faq-container h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ques {
  background-color: #2d2d2d;
  padding: 30px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.ques:hover {
  background-color: #545454;
}
.ans {
  max-height: 0px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.faq i {
  transition: all 0.3s ease-in-out;
}
.faq-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.faq.active .ans {
  max-height: 300px;
}
.faq.active i {
  transform: rotate(45deg);
}
.ans p {
  background-color: #2d2d2d;
  padding: 30px;
  font-size: 30px;
  border-top: 1px solid black;
}

.footer {
  padding: 50px 15% 10px;
  border-top: 6px solid #333;
  color: #777;
}

.footer h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.footer .col {
  flex-basis: 33.33%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.footer .col a {
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer .row {
  align-items: flex-start;
  padding: 10px 0;
}

.copyright-txt {
  font-size: 14px;
  margin: 10px 10px;
}

/* Media Queries  */
@media only screen and (max-width: 600px) {
  .logo {
    width: 100px;
  }
  nav button {
    padding: 5px 10px;
  }
  nav .lang-btn {
    padding: 4px 8px;
  }
  .header-content {
    position: unset;
    transform: none;
    padding-top: 150px;
  }
  .header-content h1 {
    font-size: 30px;
  }
  .email-signup button {
    font-size: 12px;
    padding: 10px 15px;
  }
  .text-col,
  .img-col {
    flex-basis: 100%;
  }
  .features h2 {
    font-size: 30px;
  }
  .features p {
    font-size: 15px;
  }
  .row::nth-chlid(2),
  .row::nth-chlid(4) {
    flex-direction: column-reverse;
  }
  .features .row {
    padding: 10px 0;
  }
  .faq h2 {
    font-size: 20px;
  }
  .accordian .content {
    font-size: 14px;
  }
  .accordian li label {
    padding: 10px;
    font-size: 14px;
  }
  label::after {
    font-size: 22px;
  }
}
